<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/posts">Blogs</a></li>
      <li routerLinkActive="active"><a routerLink="/posts/new">Créer un blog</a></li>
    </ul>
  </div>
</nav>
