<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ post?.title }}</h4>
        <span class="panel-date">{{ post?.created_at | date: 'dd/MM/yyyy, h:mm a '}}</span>
      </div>
      <div class="panel-body">{{ post?.content }}</div>
      <div class="panel-footer">
        <div class="btn-group-xs">
          <button type="button" class="btn btn-success" (click)="like()">
            <span class="glyphicon glyphicon-hand-right"></span>
          </button>
          <button type="button" class="btn btn-danger" (click)="disLike()">
            <span class="glyphicon glyphicon-thumbs-down"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="disLike()">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>