<li class="list-group-item" [ngClass]="{'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
  <div class="text-left">
    <h5 class="list-group-item-heading">
      <span class="font-weight-bold" style="font-size: 32px;">{{post.title}}</span>
      <span class="pull-right" style="color:gray">{{ date | date: 'dd/MM/yyyy, h:mm a '}}</span>
    </h5>
    <div class="list-group-item-text">
      {{ post.content}}
    </div>
    <hr class="divider">
    <div class="btn-group-xs">
      <button type="button" class="btn btn-success" (click)="like()">
        <span class="glyphicon glyphicon-hand-right"></span>
      </button>
      <button type="button" class="btn btn-danger" (click)="disLike()">
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </button>
      <button type="button" class="btn btn-default" (click)="onRemove()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default" (click)="onGetOne(post.id)">
        <span class="glyphicon glyphicon-eye-open"></span>
      </button>
    </div>
  </div>
</li>
