<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form [formGroup]="formNewPost" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title : </label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content : </label>
        <textarea formControlName="content" id="content" class="form-control" cols="30" rows="10"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
