<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Posts : </h2>
    <ul class="list-group">
      <app-post-list-item-component *ngFor="let post of posts" [post]="post"></app-post-list-item-component>
    </ul>
  </div>
</div>